@mixin flex($propiedad) {
  display: flex;
  align-items: center;
  justify-content: $propiedad;
}

@mixin background($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
}

$breakpoint-xs: 400px;
$breakpoint-sm: 500px;
$breakpoint-md: 750px;
$breakpoint-lg: 1150px;
$breakpoint-xl: 1250px;
$breakpoint-mxl: 1400px;
$breakpoint-xxl: 1900px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-xs) {
      @content;
    }
  } @else if $media == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $media == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $media == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $media == xl {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  } @else if $media == mxl {
    @media (max-width: $breakpoint-mxl) {
      @content;
    }
  } @else if $media == xxl {
    @media (max-width: $breakpoint-xxl) {
      @content;
    }
  }
}
