@import "./styles/Mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
/* General Styles */

:root {
  --primary-color: #1b3e5f;
  --secondary-color: #6c6c6c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: 0;
}
html {
  font-size: 10px;
}
button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}
.primaryButton {
  background-color: #f5ce67;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  border: none;
  border-radius: 20px;
  letter-spacing: 2px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.15);
  letter-spacing: 1px;
  font-size: 1.4rem;
}
.fixedContainer {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  padding: 0 130px;

  @include media(lg) {
    padding: 0 60px;
  }

  @include media(md) {
    padding: 0 50px;
  }
}
